.dash-layout{
  background: var(--bg-sidebar);
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  .side-bar{
    width: 280px;

    min-height: 100%;
    transition: width 0.5s linear;

  }
  .side-bar.collapsed{
    width: 90px;

  }
  .main{ 
  
    background-color: var(--bg-main);
    margin-top:20px ;
    margin-inline:20px ;
    padding: 20px;
    border-radius: 20px 20px 0 0 ;
    width: calc(100% - 280px);
    min-height: calc(100% - 20px);
    transition: width 0.5s linear;
  @media (max-width:868px) {
    border-radius: 20px 0 0 0 ;
    
  }
  @media (max-width:890px) {
    margin-inline:0px ;

    
  }
  }
  .main.expand{
    width: calc(100% - 90px);
  }

  @media (max-width:868px) {
    .side-bar{
      width: 80px;

    }
    .main{
      width: calc(100% - 80px);
      margin-inline:0px ;

    }
  }

 @media (max-width:431px) {
    .side-bar{
      width: 60px;

    }
  .main{
      width: calc(100% - 60px);

    }
  }
}
