<div class="analytics">

  <main class=" mt-3  ">

    <!-- first sec -->
      <div class="">
        <app-invoices-cashflow></app-invoices-cashflow>
      </div>
      <!-- second sec -->
      <div class="my-3">
        <app-overview-indicator></app-overview-indicator>
      </div>

      <!-- bar chart -->

      <div class="my-3">
        <app-best-selling></app-best-selling>
      </div>







      <!--customer & expenses charts   -->

  <div class="my-3">
    <app-customer-expenses></app-customer-expenses>
      </div>
  </main>

</div>
